body{
    margin: 0;
    padding: 0;
   
}

header{
    background-color: rgb(238, 227, 252);
    
    margin: 0;
   
}
.header_sec{
    position: absolute;
    width: 100%;
    height: 8%;
    top: 0;
    display: flex;
    background-color: white;
    margin: 0;
    padding-top: 0%;
    
    
}
.b1{
    box-sizing: border-box;
    position: absolute;
    width: 6%;
    height: 50%;
    left: 83%;
    top: 25%;
    border: 1px solid black;
    border-radius: 5px;
    font-family:Montserrat;
    color: black;
    background-color: white;
    padding: ;
    }
.b2{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: ;
    gap: 10px;
    
    position: absolute;
    width: 6%;
    height: 50%;
    left: 90%;
    top: 25%;
    font-family:Montserrat ;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
}
nav a{
    color:black;
    text-decoration: none;
    font-family: Montserrat;
    
}
nav{
    /* header__nav */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    gap: 2%;

    position: absolute;
    width: 70%;
    
    height: 30%;
    left: 30%;
    
    top: 30%;
    


}           

.fing{
    width: 40%;
    margin-left: 5%;
    background-color: ;
    margin-top: 20%;
    position: absolute;
}
.find2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 180%;
    color: black;
}
.find{
    font-family: "Abril Fatface", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 500%;
    width: 80%;
    line-height: 85%;
    color: #000000;
    margin: 0;
    margin-bottom: 5%;
}
.shop_b{
    width: 20%;
    padding: 2%;
    margin-top: 1%;
    border-radius: 5px;
    background-color:black ;
    color: white;
}
.p1 {
    margin-left: 2%;
    
        font-family: "Spicy Rice", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 140%;
    margin-top: 1%;
      
}
.p1f {
    color: #000000;
    margin-left: 1%;
        font-family: "Spicy Rice", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 180%;
    margin-top: 3%;
}
.p_f{
    margin-left: 1%;
    font-size: 150%;
    margin-bottom: 2%;
}


.main{

    /* main-container */

position: absolute;
width: 40%; 
height: 50%;
left: 5%;
top: 30%;
right: 60%;


}
.nav{
    display: inline-flex;
    width: 100%;
    
}

.b3{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 0;
    margin-left: 5%;
    position: absolute;
    width: 11%;
    height: 4%;
    font-size: 100%;
    top: 100%;
    color: white;

    background: black;
    border-radius: 121px;

}
main{
    margin: 0;
    padding: 0;
    
}
.search{
    text-align: ;
    background-color: #000000;
    color: white;
    margin-top: 0;
    height: 4%;
    
}
.main_sec1{
    
}
.new_a{
    font-size: 300%;
    text-align: center;
    margin-top: 11%;
}
.img1{
    margin-left: 52%;
    width: 47%;
    margin-top: 5%;
}



.new_a_cards1{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}


.img4{
    width:90%;
    margin-top: 6%;
}
.new_a_card4{
    margin-left: 5%;
    width: 70%;
    border: 1px solid white;
    padding-left: 2%;
   border-radius: 10px;
   background-color: rgb(238, 227, 252);
}
.new_a_card1{
    margin-left: 0;
    width: 70%;
    border: 1px solid white;
    padding-left: 2%;
    border-radius: 10px;
    background-color: rgb(238, 227, 252);
}
.new_a_cards2{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.sale_cards1{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.ac_cards1{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.vidh1{
    font-size: 50px;
    margin-left: 40px;
    margin-top: 150px;
}
.vid_card{
    width: 400px;
    height: 150px;
    border: 1px solid grey;
    margin: 10px;
    background-color;
    border-radius: 20px;
    padding-bottom: %;
}
.vidh3{
    position: relative;
    margin-left: 20px;
    color: yellow;
}
.vidp{
    color: rgb(54, 54, 54);
    margin-left: 20px;
}
.vid_cards{
    display: flex;
}
.b_sale{
    background-color: ;
    color: black;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    
}
p{
    font-size: 110%;
    color: rgb(54, 54, 54)
}
.imgf{
    width: 5%;
    margin-left: 1%;
}
.star{
    width: 7%;
    
}
.stars{
    margin-left: 4%;
}
@media (max-width:1080px){
    .img1{
        margin-left: 42%;
        width: 47%;
        margin-top: 3%;
    }
    header{
      
        width: 100%;
        

    }
    .header_sec{
        width: 100%;
        height: 7%;

        
    }
    .nav{
        width: 20%;
        
    }
    .main{
        width: 20%;
        height: 20%;
        top: 15%;
        left: 5%;
    }
    .b1{
       left: 75%;
       width: 8%;
    }
    .b2{
        left: 88%;
        width: 8%;
    }
    nav{
        left: 20%;
    }
    .p1{
        margin-left: 10%;
    }
    .p2{
        
        
        
    }
    .p3{
        
        
   
    
    
    }
    .b3{
       
    
    }
    main{
        width: 100%;
    }
    .main_sec1{
        
    }
    p{
        font-size: 90%;
    }
    .new_a{
        font-size: 180%;
    }
    .vidh1{
        font-size: 190%;
    }
}


@media (max-width:720px){
    header{
      
        width: 100%;
        

    }
}